/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.modal {
    position: absolute !important;
    overflow: auto !important;
}

.formOuterStyle {
    border: 1px solid;
    padding: 5px 0px 0px 0px;
}

.fontBold {
    font-weight: bold;
}

/*    .bgLightGray { 

    background-color: lightgray; 

}*/

.conditionDigitalSignature canvas {
    height: 97px !important;
    background-color: white !important;
}

.tableCheckList td,
.tableCheckList th {
    border: 1px solid black;
    padding: 3px 10px 3px 15px;
}

.dvCheckList table tr th:first-child,
.dvCheckList table tr:first-child td,
.dvCheckList table {
    border: none !important;
}

.tableCheckList {
    width: 100%;
    border-collapse: collapse;
}

.bgColorWhite {
    background-color: white;
}

.sectionStyle {
    outline: 1px dashed red !important;
    outline-offset: -3px;
    padding: 10px;
}

.sectionStyle:hover * {
    cursor: move;
}

.mrgright {
    margin-right: 2px;
}

.mrgleft {
    margin-left: 2px;
}

.form-control[readonly] {
    cursor: move;
    background-color: #eee !important;
    opacity: 1;
}